<!DOCTYPE html>
<html>
  <head>
    <title>Portefolio YB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portefolio Yohann BERNARD, développeur web full-stack, spécialisé Ruby on Rails. Rochefort 17.">

    <meta property="og:title" content="Présentation de mes projets Rails" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.portefolio.bernardyohann.fr" />
    <meta property="og:image" content="https://avatars2.githubusercontent.com/u/37973076?s=60&v=4" />
    <meta property="og:description" content="Développeur web full-stack, spécialisé Ruby on Rails. Rochefort 17." />
    <meta property="og:site_name" content="Présentation de mes projets Rails" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Yohann83654858">
    <meta name="twitter:title" content="Présentation de mes projets Rails">
    <meta name="twitter:description" content="Développeur web full-stack, spécialisé Ruby on Rails. Rochefort 17.">
    <meta name="twitter:creator" content="@Yohann83654858">
    <meta name="twitter:image:src" content="https://avatars2.githubusercontent.com/u/37973076?s=60&v=4">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info alert-dismissible my-notice-style" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning alert-dismissible my-alert-style" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
